image: python:3.7-alpine

pages:
  stage: test
  script:
  - pip install -U sphinx
  - sphinx-build -b html docs/source docs/build
  only:
  - branches
  except:
  - main

pages:
  stage: deploy
  script:
  - pip install -U sphinx
  - sphinx-build -b html docs/source docs/build
  artifacts:
    paths:
    - docs/build
  only:
  - main

