image: python:3.9-alpine

stages:
  - style
  - test
  - deploy

style:flake8:
  stage: style
  script:
    - pip install -U tox
    - tox -e flake8

test:3.9:
  stage: test
  script:
    - apk add python3-dev gcc libc-dev libffi-dev
    - pip install -U tox
    - tox

test:coverage:
  stage: test
  script:
    - apk add python3-dev gcc libc-dev libffi-dev
    - pip install -r requirements.txt
    - pip install pytest pytest-cov
    - coverage run -m pytest
    - coverage report
    - coverage xml
  artifacts:
    reports:
      cobertura: coverage.xml

pages:
  stage: test
  script:
    - pip install -U sphinx
    - pip install -U sphinx_rtd_theme
    - sphinx-build -b html docs/source public
  only:
    - branches
  except:
    - main
  tags:
    - gitlab-org

pages:
  stage: deploy
  script:
    - pip install -U sphinx
    - pip install -U sphinx_rtd_theme
    - sphinx-build -b html docs/source public
  artifacts:
    paths:
      - public
  only:
    - main
  tags:
    - gitlab-org

