image: python:3.7-alpine

docs:
  stage: test
  script:
  - pip install -U sphinx
  - cd docs/
  - make html
  only:
  - branches
  except:
  - master

docs-pages:
  stage: deploy
  script:
  - pip install -U sphinx
  - cd docs/
  - make html
  artifacts:
    paths:
    - docs/build/html
  only:
  - master

