image: python:3.9-alpine

stages:
  - style
  - test
  - deploy

style:flake8:
  stage: style
  script:
    - pip install -U tox
    - tox -e flake8

test:3.9:
  stage: test
  script:
    - apk add python3-dev gcc libc-dev
    - pip install -U tox
    - tox

pages:
  stage: test
  script:
    - pip install -U sphinx
    - pip install -U sphinx_rtd_theme
    - sphinx-build -b html docs/source public
  only:
    - branches
  except:
  - main

pages:
  stage: deploy
  script:
    - pip install -U sphinx
    - pip install -U sphinx_rtd_theme
    - sphinx-build -b html docs/source public
  artifacts:
    paths:
      - public
  only:
    - main

