image: python:3.7-alpine

pages:
  stage: test
  script:
  - pip install -U sphinx
  - pip install -U sphinx_rtd_theme
  - sphinx-build -b html docs/source public
  only:
  - branches
  except:
  - main

pages:
  stage: deploy
  script:
  - pip install -U sphinx
  - pip install -U sphinx_rtd_theme
  - sphinx-build -b html docs/source public
  artifacts:
    paths:
    - public
  only:
  - main

